LOG_LEVEL=info
TZ=Etc/UTC
ROOT_FQDN=0xb1b1.local
JELLYFIN_URL=https://jellyfin.0xb1b1.local
VPN_ENDPOINT_IP=1.2.3.4
VPN_ENDPOINT_PORT=51820
WIREGUARD_ADDRESSES=10.100.10.3/32
FIREWALL_OUTBOUND_SUBNETS=192.168.147.0/24
WIREGUARD_PUBLIC_KEY=ABCDEF1234567890+/=
WIREGUARD_PRIVATE_KEY=ABCDEF1234567890+/=
WIREGUARD_PRESHARED_KEY=ABCDEF1234567890+/=
JELLYFIN_MEDIA_STORAGE_ROOT=/path/to/storage/Jellyfleet/jellyfin/media
TRANSMISSION_DOWNLOADS_STORAGE_ROOT=/path/to/storage/Jellyfleet/transmission

